# Node.js
node_modules/
.env

# Database
data/pureview.sqlite
data/uploads/

# Python
__pycache__/
# *.joblib (Included per user request for direct client access)
*.csv
.venv/
venv/
env/

# Mac
.DS_Store
